// return '2018-10-22'
var getDate = function (time) {
  return time.split(' ')[0];
}

var getImageUrl = function (src){
  if (src) {
    //return 'http://localhost:8090' + src;
    return 'https://sfmooc-api.techtuesday.club' + src;
  }
}
module.exports = {
  getDate: getDate,
  getImageUrl: getImageUrl
}
